body {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 0;
  color: #221e20;
  background-color: #f2f2f2;
  overflow-x: auto;
}

a {
  color: #221e20;
  text-decoration: none;
}

a:hover {
  color: #7600d9;
}

.app-wrapper {
  min-width: 700px;
  width: 100%
}
